<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quickstart.baselib" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <!-- 适配刘海屏、水滴屏 Android O 小米 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!-- 适配刘海屏、水滴屏 Android O 华为 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配刘海屏、水滴屏 Android P -->
        <meta-data
            android:name="android.vendor.full_screen"
            android:value="true" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>
</manifest>
